@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}

#rec1880272331 .t-menu-base__imglogo{max-width:24px;width:24px;}

#rec1880272331 .t-menu-burger__text{color:#000000;}

.tmenu-mobile{background-color:#111;display:none;width:100%;top:0;z-index:990;}.tmenu-mobile_positionfixed{position:fixed;}.tmenu-mobile__text{color:#000;}.tmenu-mobile__container{min-height:64px;padding:20px;position:relative;box-sizing:border-box;display:flex;justify-content:space-between;align-items:center;}.tmenu-mobile__list{display:block;}.tmenu-mobile__burgerlogo{display:inline-block;font-size:24px;font-weight:400;white-space:nowrap;vertical-align:middle;}@media screen and (max-width:960px){.tmenu-mobile__menucontent_hidden{display:none;height:auto;}.tmenu-mobile{display:block;}}@media screen and (max-width:960px){#rec1880272331 .tmenu-mobile{background-color:#fffaf0;}}

#rec1880272331 .tmenu-mobile__burgerlogo a{color:#000000;}

#rec1880272331 .tmenu-mobile__burgerlogo__title{color:#000000;}

#rec1880272331 .t-menu-base__imglogo{max-width:24px;width:24px;}

#rec1880272331 .t-menu__link-item{}@supports (overflow:-webkit-marquee) and (justify-content:inherit){#rec1880272331 .t-menu__link-item,#rec1880272331 .t-menu__link-item.t-active{opacity:1 !important;}}

#rec1880272331 .t-menu-base__textlogo{color:#000000;}#rec1880272331 a.t-menu__link-item{color:#000000;}#rec1880272331 .t-menu-base__langs_flex .t-menu-base__langs-item a{text-transform:uppercase;}#rec1880272331 .t-menu-base__langs-button{text-transform:uppercase;}

#rec1880272331 .t-menu-base__maincontainer{}#rec1880272331 .t-menuwidgeticons__icon{background-color:;}#rec1880272331 .t-menu-base{}#rec1880272331 .t-menu-base,#rec1880272331 .t-menu-base__mobile-menu{border-bottom:1px solid rgba(0,0,0,0.20);}#rec1880272331 .t-menu-base{background-color:rgba();}#rec1880272331 .t-menusub__menu--fullscreen{background-color:rgba(255,250,240,1) !important;}@media screen and (max-width:960px){#rec1880272331 .t-menu-base{position:static;}#rec1880272331 .t-menu-base__maincontainer{background-color:#fffaf0 !important;}}

#rec1880272341 .t-btnflex.t-btnflex_type_button {color:#ffffff;background-color:#000000;--border-width:0px;border-style:none !important;border-radius:8px;box-shadow:none !important;transition-duration:0.2s;transition-property:background-color,color,border-color,box-shadow,opacity,transform,gap;transition-timing-function:ease-in-out;}

#rec1880272341 .t1127__title{color:#000000;}#rec1880272341 .t1127__descr{color:#000000;}

#rec1880272341 .t1127__image{border-radius:32px;}

#rec1880272351 .t486__title{color:#000000;}#rec1880272351 .t486__descr{color:#000000;}

#rec1880272351 .t486__blockimg{border-radius:15px;}

.t-section__descr {max-width:560px;}#rec1880272441 .t-section__title {margin-bottom:40px;}#rec1880272441 .t-section__descr {margin-bottom:90px;}@media screen and (max-width:960px) {#rec1880272441 .t-section__title {margin-bottom:20px;}#rec1880272441 .t-section__descr {margin-bottom:45px;}}

#rec1880272441 .t-section__title{color:#000000;}#rec1880272441 .t-section__descr{color:#000000;}

#rec1880272441 .t603__blockimg{border-radius:15px;}

#rec1880272491 .t551__title{color:#000000;}#rec1880272491 .t551__contacts{color:#000000;}#rec1880272491 .t551__address{color:#000000;}

#rec1880272501 .t389__copyright{color:#000000;}#rec1880272501 .t389_scrolltop{color:#000000;}